<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Breast Care Cancer</title>
<link rel="shortcut icon" href="{{url_for('static',filename='img/rub.png')}}" type="image/x-icon">
<!-- plugins:css -->
<link rel="stylesheet"
  href="{{url_for('static',filename='dashboard/assets/vendors/mdi/css/materialdesignicons.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='dashboard/assets/vendors/css/vendor.bundle.base.css')}}">
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End Plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<script src="https://kit.fontawesome.com/3039daa690.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard/assets/css/style.css') }}">
<!-- End layout styles -->
<style>
.sidebar .nav .nav-item.active > .nav-link .menu-title,.sidebar .nav .nav-item.active > .nav-link i {
 
    color: #fe7c96;
    font-family: "ubuntu-medium", sans-serif;
}
  
  .descTable td,
  .descTable th {
    border-collapse: collapse;
    border: 0.5px solid rgba(175, 175, 175, 0.425);
  }

  .nbTa {
    border: 0;
  }
  .form-select {
    background-color: white;
    border: 0;
    color: #343a40;
    font-size: 12px;
    border: 1px solid #ebedf2;
    padding: 15px;
  }

</style>